* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

a {
  color: inherit;
}

h2 {
  font-family: "Titillium Web";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-bottom: 65px;
  font-size: 2.25rem;
  font-weight: 600;
  color: #fff;
}

body {
  width: 100%;
  background: #363636;
  font-family: "Overpass", "Titillium Web", sans-serif;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 7%;
  width: 100%;
}

header {
  margin-bottom: 50px;
}

nav {
  font-family: "Titillium Web";
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #f7d33200;
  height: 80px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

nav ul {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
  color: #fff;
  font-size: 1.125rem;
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul a {
  margin: auto 0;
}

.call-btn {
  padding: 0.5rem 1rem;
  background: #f54747;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
  color: #fff;
  margin: auto 0;
  border-radius: 5px;
  font-weight: bold;
}

.logo {
  padding-top: 10px;
  margin: auto 0;
  max-width: 110px;
}

.logo img {
  width: 100%;
}

footer {
  width: 100%;
  height: 240px;
  background: #f7d332;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 145px;
}

footer h5 {
  text-align: center;
  display: unset;
  width: 100%;
  height: 25px;
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 10px;
}

footer h3 {
  font-size: 1.25rem;
  font-weight: 400;
}

footer p {
  font-size: 1rem;
  font-weight: 400;
}

.footer-container {
  margin-top: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-height: 200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-container :nth-of-type(2) p {
  margin-bottom: 5px;
  text-align: center;
}

.footer-container_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 160px;
}

.footer-container_box h3 {
  margin-bottom: 20px;
}

.bot__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo-footer {
  max-width: 250px;
}

.logo-footer img {
  width: 100%;
}

.footer-container_box__icons {
  margin-top: 10px;
  font-size: 0.85rem;
}

.footer-container_box__icons i {
  margin-right: 10px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 500px;
}

.hero img {
  margin: auto 0;
  height: 75%;
}

.hero-text {
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  max-width: 500px;
}

.hero-text h1 {
  font-size: 5rem;
  line-height: 1.4;
  font-family: "Titillium Web";
}

.hero-text h3 {
  margin-top: 25px;
  font-size: 1.25rem;
  font-weight: 400;
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f54747;
  width: 180px;
  height: 45px;
  font-weight: 700;
  font-size: 1.25rem;
  border-radius: 5px;
  margin: 35px 0 15px 0;
}

.menu-btn a {
  width: 100%;
  height: 20px;
  margin: auto 0;
  text-align: center;
}

/* Special offers */
.special-offers {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  text-align: center;
}

.special-offers img {
  max-width: 330px;
  padding-right: 30px;
}

.special-offers .menu-btn_special {
  margin: 65px auto 0 auto;
}

.special-offers .menu-btn_special a {
  width: 100%;
  height: 20px;
  margin: auto 0;
  text-align: center;
}

.special-offers-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.special-offers_burger {
  max-width: 360px;
  width: 100%;
}

.special-offers_burger h4 {
  font-family: "Titillium Web";
  margin-top: 35px;
  font-size: 1.875rem;
  font-weight: 500;
}

.special-offers_burger p {
  margin-top: 20px;
  font-size: 1.125rem;
  font-weight: 400;
}

.price-container {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.price-container p {
  font-size: 1.125rem;
  margin: auto 20px;
  font-weight: 300;
}

.price-icon {
  width: 140px;
  height: 50px;
  color: #353535;
  font-size: 1.875rem;
  background: url("../images/Rectangle 71.svg");
  line-height: 1.8;
  font-style: unset;
}

.price-icon_secondary {
  width: 138px;
  height: 51px !important;
  color: #353535;
  font-size: 1.25rem;
  background: url("../images/price-second.svg");
  line-height: 1.4;
  color: #fff;
  font-style: unset;
  text-align: center;
  font-weight: 300;
}

.price-icon_extra {
  font-size: 1.5rem;
  line-height: 2.2;
}

.opening-hours {
  margin-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 270px;
  background: #3d3d3d;
  border-radius: 15px;
  color: #fff;
}

.opening-hours h2 {
  font-size: 2.25rem;
  margin: 45px auto;
}

.opening-hours .hours-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.opening-hours .hours-container :nth-child(1) {
  font-size: 2.25rem;
}

.opening-hours .hours-container :nth-child(2) {
  font-size: 1.5rem;
}

.opening-hours .hours {
  text-align: center;
}

.selling-points {
  margin-top: 145px;
  width: 100%;
  height: 440px;
}

.selling-points-container {
  margin-top: 150px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.selling-points-container :nth-of-type(2) img {
  max-width: 300px !important;
}

.selling-point_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #3d3d3d;
  max-width: 370px;
  height: 210px;
  border-radius: 5px;
}

.selling-point_box img {
  position: relative;
  top: -100px;
  max-width: 180px;
  margin: 0 auto;
}

.selling-point_box p {
  position: relative;
  top: -110px;
  padding: 0 10%;
  font-size: 1.125rem;
}

.reviews {
  margin-top: 145px;
  height: 315px;
  background: #3d3d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews h2 {
  margin-top: 55px;
  margin-bottom: 0;
  width: 100%;
}

.reviews :last-child {
  text-align: center;
}

.reviews-container i {
  color: #f7d332;
}

.reviews-container {
  width: 90%;
  height: 160px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 650px;
}

.review p {
  font-size: 1.125rem;
  font-weight: 300;
}

.review :nth-of-type(2) {
  margin-top: 20px;
  font-weight: 600;
  color: #fff !important;
}

.adress-map {
  margin-top: 145px;
  height: 425px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.adress-map iframe {
  height: 100%;
  border-radius: 15px;
}

.adress-map_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 465px;
  font-size: 1.125rem;
}

.adress-map_left h2 {
  text-align: left;
}

.adress-map_left :nth-child(1) {
  margin-bottom: 25px;
}

.adress-map_left :nth-child(2) {
  margin-bottom: 50px;
}

.adress-map_left :nth-child(3) {
  margin-bottom: 35px;
}

.adress-map_left :nth-child(4) {
  margin-bottom: 35px;
}

.adress-map_left :nth-child(5) {
  color: #f54747;
  text-decoration: underline;
}

.burger-menu h1 {
  text-align: center;
  margin-bottom: 45px;
  font-size: 2.25rem;
}

.burger-menu h4 {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  margin: 20px 0;
}

.burger-menu-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 2rem;
  row-gap: 5rem;
}

.burger-menu_item {
  max-width: 365px;
  border-radius: 5px;
  overflow: hidden;
}

.burger-menu_item img {
  width: 100%;
  border-radius: 5px;
}

.burger-menu_item div {
  margin: 0;
}

.burger-menu_item i {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */