@import "colors";

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

a {
  color: inherit;
}
h2 {
  font-family: "Titillium Web";
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 65px;
  font-size: 2.25rem;
  font-weight: 600;
  color: $white-text;
}

body {
  width: 100%;
  background: $background;
  font-family: "Overpass", "Titillium Web", sans-serif;
  color: $white-text;
  display: flex;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 7%;
  width: 100%;
}

// Navigation

header {
  margin-bottom: 50px;
  height: 80px;

}



.desktop-nav{
  font-family: "Titillium Web";
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #f7d33200;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.mobile-nav{
  font-family: "Titillium Web";
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #f7d33200;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

nav ul {
  width: 50%;
  min-width: 300px;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  color: $white-text;
  font-size: 1.125rem;
  li {
    display: flex;
  }
  a {
    margin: auto 0;
  }
}

.call-btn {
  padding: 0.5rem 1rem;
  background: $red-cta;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
  color: $white-text;
  margin: auto 0;
  border-radius: 5px;
  font-weight: bold;
}

.logo {
  padding-top: 10px;
  margin: auto 0;
  max-width: 110px;
  img {
    width: 100%;
  }
}

// Footer

footer {
  width: 100%;
  height: 240px;
  background: $yellow;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: $black-text;
  display: flex;
  margin-top: 145px;
  h5 {
    text-align: center;
    display: unset;
    width: 100%;
    height: 25px;
    font-size: 0.875rem;
    font-weight: 400;
    margin-top: 10px;
  }
  h3 {
    font-size: 1.25rem;
    font-weight: 400;
  }
  p {
    font-size: 1rem;
    font-weight: 400;
  }
}

.footer-container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  max-height: 200px;
  flex-wrap: wrap;
  :nth-of-type(2) {
    p {
      margin-bottom: 5px;
      text-align: center;
    }
  }
}

.footer-container_box {
  display: flex;
  flex-direction: column;
  max-width: 160px;
  h3 {
    margin-bottom: 20px;
  }
}

.bot__info {
  display: flex;
  flex-direction: column;
}

.logo-footer {
  max-width: 250px;
  img {
    width: 100%;
  }
}

.footer-container_box__icons {
  margin-top: 10px;
  font-size: 0.85rem;
  i {
    margin-right: 10px;
  }
}

// Main page --------

// Hero

.hero {
  display: flex;
  justify-content: space-between;
  height: 500px;
}

.hero-image {
  width: 45%;
  display: flex;
  img {
    width: 100%;
    margin: auto 0;
  }
}

.hero-text {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  width: 45%;
  h1 {
    font-size: 5rem;
    line-height: 1.4;
    font-family: "Titillium Web";
  }
  h3 {
    margin-top: 25px;
    font-size: 1.25rem;
    font-weight: 400;
  }
}

.menu-btn {
  display: flex;
  background: $red-cta;
  width: 180px;
  height: 45px;
  font-weight: 700;
  font-size: 1.25rem;
  border-radius: 5px;
  margin: 35px 0 15px 0;
  a {
    width: 100%;
    height: 20px;
    margin: auto 0;
    text-align: center;
  }
}

/* Special offers */
.special-offers {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  color: $white-text;
  text-align: center;

  .special-offers_burger_img{
    max-width: 330px;

  }
  img {
    width: 100%;
    padding-right: 30px;
  }
  .menu-btn_special {
    margin: 65px auto 0 auto;
    a {
      width: 100%;
      height: 20px;
      margin: auto 0;
      text-align: center;
    }
  }
}

.special-offers-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.special-offers_burger {
  max-width: 360px;
  width: 100%;
  h4 {
    font-family: "Titillium Web";
    margin-top: 35px;
    font-size: 1.875rem;
    font-weight: 500;
  }
  p {
    margin-top: 20px;
    font-size: 1.125rem;
    font-weight: 400;
  }
}

.price-container {
  margin-top: 35px;
  display: flex;
  justify-content: space-evenly;
  p {
    font-size: 1.125rem;
    margin: auto 20px;
    font-weight: 300;
  }
}

.price-icon {
  width: 140px;
  height: 50px;
  color: $black-text;
  font-size: 1.875rem;
  background: url("../images/Rectangle\ 71.svg");
  line-height: 1.8;
  font-style: unset;
  background-repeat: no-repeat;
  background-size: 100%;
}

.price-icon_secondary {
  width: 138px;
  height: 51px !important;
  color: $black-text;
  font-size: 1.25rem;
  background: url("../images/price-second.svg");
  line-height: 1.4;
  color: $white-text;
  font-style: unset;
  text-align: center;
  font-weight: 300;
  background-size: 100%;
  background-repeat: no-repeat;
}

.price-icon_extra {
  font-size: 1.5rem;
  line-height: 2.2;
}

// Opening hours

.opening-hours {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 270px;
  background: $secondary-background;
  border-radius: 15px;
  color: $white-text;

  h2 {
    font-size: 2.25rem;
    margin: 45px auto;
  }
  .hours-container {
    display: flex;
    justify-content: space-around;
    :nth-child(1) {
      font-size: 2.25rem;
    }
    :nth-child(2) {
      font-size: 1.5rem;
    }
  }
  .hours {
    text-align: center;
  }
}

// Selling points

.selling-points {
  margin-top: 145px;
  width: 100%;
  height: 440px;
}

.selling-points-container {
  margin-top: 150px;
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: space-between;
  :nth-of-type(2) {
    img {
      max-width: 300px !important;
    }
  }
}
.selling-point_box {
  max-width: 370px;
  display: flex;
  flex-direction: column;
  background: $secondary-background;
  height: 210px;
  border-radius: 5px;

  img {
    position: relative;
    top: -100px;
    max-width: 180px;
    margin: 0 auto;
  }
  p {
    position: relative;
    top: -110px;
    padding: 0 10%;
    font-size: 1.125rem;
  }
}

// Reviews slides

.reviews {
  width: 100%;
  margin-top: 145px;
  height: 365px;
  background: $secondary-background;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  h2 {
    margin-top: 55px;
    margin-bottom: 0;
    width: 100%;
  }
  :last-child {
    text-align: center;
  }
}

.reviews-container {
  width: 100%;
  height: 215px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;

  p {
    margin-top: 55px;
  }

  i {
    color: $red-cta;
    margin-top: 55px;
  }
}

.review {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 650px;

  p {
    font-size: 1.125rem;
    font-weight: 300;
  }
  :nth-of-type(2) {
    margin-top: 20px;
    font-weight: 600;
    color: $white-text !important;
  }
}

.hide-slide{
  display: none;
}



// From medium
//https://medium.com/@marcusmichaels/how-to-build-a-carousel-from-scratch-in-vanilla-js-9a096d3b98c9


/* Parent wrapper to carousel. Width can be changed as needed. */
.carousel-wrapper {
  overflow: hidden;
  width: 90%;
  margin: auto;
}

/* Apply 'border-box' to 'box-sizing' so border and padding is included in the width and height. */
.carousel-wrapper * {
  box-sizing: border-box;
}

/* We'll be using the 'transform' property to move the carousel's items, so setting the 'transform-style' to 'preserve-3d' will make sure our nested elements are rendered properly in the 3D space. */
.carousel {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* By default we're hiding items (except the initial one) until the JS initiates. Elements are absolutely positioned with a width of 100% (as we're styling for mobile first), letting the content's height dictate the height of the carousel. Our magic property here for all our animation needs is 'transition', taking the properties we wish to animate 'transform' and 'opacity', along with the length of time in seconds. */
.carousel__photo {
  opacity: 0;
  position: absolute;
  top:0;
  width: 100%;
  margin: auto;
  padding: 1rem 4rem;
  z-index: 100;
  transition: transform .5s, opacity .5s, z-index .5s;
}

/* Display the initial item and bring it to the front using 'z-index'. These styles also apply to the 'active' item. */
.carousel__photo.initial,
.carousel__photo.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

/* Set 'z-index' to sit behind our '.active' item. */
.carousel__photo.prev,
.carousel__photo.next {
  z-index: 800;
}

/* Translate previous item to the left */
.carousel__photo.prev {
  transform: translateX(-100%);
}

/* Translate next item to the right */
.carousel__photo.next {
  transform: translateX(100%);
}

/* Style navigation buttons to sit in the middle, either side of the carousel. */
.carousel__button--prev,
.carousel__button--next {
  position: absolute;
  top:50%;
  width: 3rem;
  height: 3rem;
  background-color: #FFF;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer; 
  z-index: 1001; /* Sit on top of everything */
  border:1px solid black;
/*  opacity: 0;  Hide buttons until carousel is initialised 
  transition:opacity 1s;*/
}

.carousel__button--prev {
  left:0;
}

.carousel__button--next {
  right:0;
}

/* Use pseudo elements to insert arrows inside of navigation buttons */
.carousel__button--prev::after,
.carousel__button--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid $red-cta;
  border-bottom: 2px solid $red-cta;
  transform: translate(-50%, -50%) rotate(135deg);
}

.carousel__button--next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}



.adress-map {
  margin-top: 145px;
  height: 425px;
  display: flex;
  justify-content: space-between;
  iframe {
    height: 100%;
    width: 100%;
    border-radius: 15px;
  }
}

.adress-map_right {
  max-width: 600px;
width: 100%;
}

.adress-map_left {
  display: flex;
  flex-direction: column;
  max-width: 465px;
  font-size: 1.125rem;
  margin-right: 30px;
  h2 {
    text-align: left;
  }
  :nth-child(1) {
    margin-bottom: 25px;
  }
  :nth-child(2) {
    margin-bottom: 50px;
  }
  :nth-child(3) {
    margin-bottom: 35px;
  }
  :nth-child(4) {
    margin-bottom: 35px;
  }
  :nth-child(5) {
    color: $red-cta;
    text-decoration: underline;
  }
}

// Menu --------

// Burger menus

.burger-menu {
  h1 {
    text-align: center;
    margin-bottom: 45px;
    font-size: 2.25rem;
  }
  h4 {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin: 20px 0;
  }
}

.burger-menu-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  gap: 2rem;
  row-gap: 5rem;
  align-content: center;
}

.burger-menu_item {
  max-width: 365px;
  border-radius: 5px;
  overflow: hidden;
  img {
    width: 100%;
    border-radius: 5px;
  }
  div {
    margin: 0;
  }
  i {
    text-align: center;
  }
}

//Single page
.back-home {
  display: grid;
  grid-template-columns: 30px 150px;
  margin-left: 15vw;
  margin-bottom: 20px;
  align-items: center;
  i {
    font-size: 30px;
  }
}
.product-card {
  display: grid;
  background-color: $secondary-background;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.664);
  border-radius: 15px;
  grid-template-columns: 50% 50%;
  width: 55vw;
  height: auto;
  margin-left: 15vw;
  img {
    grid-column: 1;
    border-radius: 15px 0 0 15px;
    height: 100%;
    width: 100%;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  h1,
  .desc,
  .prices {
    grid-column: 2;
    padding: 10px 10px 10px 20px;
  }
  h1 {
    margin-top: 10px;
    font-family: "Titillium Web";
  }
  .prices {
    height: 65%;
    margin-top: 0px;
    display: flex;
    justify-content: space-evenly;
    p {
      font-size: 0.9rem;
      padding: 5px;
      font-weight: 300;
      text-align: center;
      border: 1px solid $yellow;
      border-radius: 5px;
      width: 120px;
    }
    .price-icon {
      width: 30%;
    }
    .price-icon_secondary {
      width: 30%;
      line-height: 1.1;
    }
    i {
      text-align: center;
    }
  }
}

.product-item {
  display: grid;
  grid-template-rows: 3;
  justify-items: center;
  i {
    grid-row: 3;
    display: flex;
    justify-content: space-evenly;
  }
  h4 {
    margin: 0 0 20px 0;
  }
}

.horizonal {
  margin-top: 10vh;
  border: 2px solid $yellow;
  margin-bottom: 20px;
}

.add-options {
  margin-top: 50px;
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 3;
  align-content: center;
  i {
    text-align: center;
  }
  h4 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .item1 {
    grid-column: 1;
    display: grid;
    justify-items: center;
    grid-template-rows: 3;
    max-width: 365px;
    border-radius: 5px;
    overflow: hidden;
  }
  .item2 {
    grid-column: 2;
    max-width: 365px;
    border-radius: 5px;
    overflow: hidden;
    display: grid;
    justify-items: center;
    img {
      width: 60%;
    }
  }
  .item3 {
    grid-column: 3;
    max-width: 365px;
    border-radius: 5px;
    overflow: hidden;
    display: grid;
    justify-items: center;
  }
  h2 {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  img {
    width: 100%;
    border-radius: 5px;
  }
}

// CONTACT PAGE

.contact-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 6% 9% 20% 65%;
  height: 100%;
  width: 100%;
  row-gap: 20px;
  iframe {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 4;
    margin-top: 40px;
  }
  h1 {
    font-size: 4rem;
    line-height: 1.4;
    font-family: "Titillium Web";
  }
}

.contact-intro {
  grid-row: 2;
  grid-column: 2;
  justify-self: center;
  width: 150%;
  p {
    text-align: center;
    margin-top: 20px;
  }
}
.contact-info {
  grid-column: 1;
  justify-self: end;
  text-align: center;
  grid-row: 3;
  margin-left: 20%;
  .directions {
    color: $red-cta;
    text-decoration: underline;
  }
}

.vertical {
  height: 200px;
  width: 1px;
  border: 1px solid $yellow;
  grid-column: 2;
  grid-row: 3;
  justify-self: center;
}

.contact-hours {
  justify-self: start;
  text-align: center;
  grid-row: 3;
}

// Drop down menu

/* Dropdown Button */
.dropbtn {
  background-color: $red-cta;
  color: $white-text;
  height: 45px;
  font-size: 1.125rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 0 15px;
  margin: auto 0;
}

/* Dropdown button on hover & focus */


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: flex;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  width: 650px;
  display: none;
  position: absolute; 
  background-color: #333333;
  box-shadow: 0px 8px 16px 0px rgba(151, 151, 151, 0.2);
  z-index: 1;
  left: -435px;
  top: 100px;
  color: #fff6f6;
}





/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.dropdown-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  height: 300px;
}

.dropdown-container_details {
  grid-column: span 6;
  width: 320px;
  height: 130px;
  margin: auto 0;
  padding: 10% 5%;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  font-size: 1.5rem;
  border-radius: 15px;

  p{
    border: rgb(255, 255, 255) 1px solid;
    padding: 10px 0;

  }
  i {
    border: rgb(255, 255, 255) 1px solid;

  }
  :nth-child(1){
    font-size: 2.25rem;
    grid-column: span 4;
  }
  :nth-child(2){
    grid-column: span 2;
  }
  :nth-child(3){
    grid-column: span 2;
  }
}


.dropdown-container_divider {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  p {
    font-size: 1.5rem;
    
  }
}

.dropdown-line {
  height: 80px;
  border:1px solid $white-text;
  width: 0px;
  margin-left: 10px;
  grid-column: span 2;
}

.dropdown-container_services {
  grid-column: span 3;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  img {
    max-width: 140px;
    max-height: 40px;
  }
}

@media screen and (max-width: 1300px) {
  body {
    background-color: rgb(121, 121, 121);
  }

  // main page

  .hero-text{
    h1{
      font-size:4rem ;
    }
  }
  .selling-points-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
  }

  .special-offers-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    justify-content: space-between;
  }


  
}

@media screen and (max-width: 1024px) {
  body {
  background: rgb(139, 123, 92);
  }

//main page

.hero-text{
  h1{
    font-size: 3rem;
  }
}

.selling-point_box {
  height: 280px ;
}

}

@media screen and (max-width: 900px) {
  body {
  background: rgb(139, 123, 92);
  }

  .logo-footer{
    display: none;
  }

  .hero {
    height: unset;
  }

//main page

.hero-text{
  h1{
    font-size: 2.5rem;
  }
}
}




// Mobile 
@media screen and (max-width: 780px) {
  body {
  background: rgb(92, 182, 119);
  }

//main page

header {
  background: $yellow;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius:15px;
 .desktop-nav {
   display: none;
 }
}
}



// Mobile 
@media screen and (min-width: 780px) {
  

//main page


 .mobile-nav {
   display: none;
 }

}




@media screen and (max-width: 660px) {
  body {
  background: rgb(139, 123, 92);
  }

//main page

.hero-text{
  h1{
    font-size: 2.5rem;
  }
}
}

