@import "colors";

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

a {
  color: inherit;
}
h2 {
  font-family: "Titillium Web";
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 65px;
  font-size: 2.25rem;
  font-weight: 600;
  color: $white-text;
}

body {
  width: 100%;
  background: $background;
  font-family: "Overpass", "Titillium Web", sans-serif;
  color: $white-text;
  display: flex;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 7%;
  width: 100%;
}

// Navigation

header {
  margin-bottom: 50px;
}

nav {
  font-family: "Titillium Web";
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #f7d33200;
  height: 80px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

nav ul {
  width: 500px;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  color: $white-text;
  font-size: 1.125rem;
  li {
    display: flex;
  }
  a {
    margin: auto 0;
  }
}

.call-btn {
  padding: 0.5rem 1rem;
  background: $red-cta;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
  color: $white-text;
  margin: auto 0;
  border-radius: 5px;
  font-weight: bold;
}

.logo {
  padding-top: 10px;
  margin: auto 0;
  max-width: 110px;
  img {
    width: 100%;
  }
}

// Footer

footer {
  width: 100%;
  height: 240px;
  background: $yellow;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: $black-text;
  display: flex;
  margin-top: 145px;
  h5 {
    text-align: center;
    display: unset;
    width: 100%;
    height: 25px;
    font-size: 0.875rem;
    font-weight: 400;
    margin-top: 10px;
  }
  h3 {
    font-size: 1.25rem;
    font-weight: 400;
  }
  p {
    font-size: 1rem;
    font-weight: 400;
  }
}

.footer-container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  max-height: 200px;
  flex-wrap: wrap;
  :nth-of-type(2) {
    p {
      margin-bottom: 5px;
      text-align: center;
    }
  }
}

.footer-container_box {
  display: flex;
  flex-direction: column;
  max-width: 160px;
  h3 {
    margin-bottom: 20px;
  }
}

.bot__info {
  display: flex;
  flex-direction: column;
}

.logo-footer {
  max-width: 250px;
  img {
    width: 100%;
  }
}

.footer-container_box__icons {
  margin-top: 10px;
  font-size: 0.85rem;
  i {
    margin-right: 10px;
  }
}

// Main page --------

// Hero

.hero {
  display: flex;
  justify-content: space-between;
  height: 500px;
  img {
    margin: auto 0;
    height: 75%;
  }
}

.hero-text {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  max-width: 500px;
  h1 {
    font-size: 5rem;
    line-height: 1.4;
    font-family: "Titillium Web";
  }
  h3 {
    margin-top: 25px;
    font-size: 1.25rem;
    font-weight: 400;
  }
}

.menu-btn {
  display: flex;
  background: $red-cta;
  width: 180px;
  height: 45px;
  font-weight: 700;
  font-size: 1.25rem;
  border-radius: 5px;
  margin: 35px 0 15px 0;
  a {
    width: 100%;
    height: 20px;
    margin: auto 0;
    text-align: center;
  }
}

/* Special offers */
.special-offers {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  color: $white-text;
  text-align: center;

  img {
    max-width: 330px;
    padding-right: 30px;
  }
  .menu-btn_special {
    margin: 65px auto 0 auto;
    a {
      width: 100%;
      height: 20px;
      margin: auto 0;
      text-align: center;
    }
  }
}

.special-offers-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.special-offers_burger {
  max-width: 360px;
  width: 100%;
  h4 {
    font-family: "Titillium Web";
    margin-top: 35px;
    font-size: 1.875rem;
    font-weight: 500;
  }
  p {
    margin-top: 20px;
    font-size: 1.125rem;
    font-weight: 400;
  }
}

.price-container {
  margin-top: 35px;
  display: flex;
  justify-content: space-evenly;
  p {
    font-size: 1.125rem;
    margin: auto 20px;
    font-weight: 300;
  }
}

.price-icon {
  width: 140px;
  height: 50px;
  color: $black-text;
  font-size: 1.875rem;
  background: url("../images/Rectangle\ 71.svg");
  line-height: 1.8;
  font-style: unset;
  background-repeat: no-repeat;
  background-size: 100%;
}

.price-icon_secondary {
  width: 138px;
  height: 51px !important;
  color: $black-text;
  font-size: 1.25rem;
  background: url("../images/price-second.svg");
  line-height: 1.4;
  color: $white-text;
  font-style: unset;
  text-align: center;
  font-weight: 300;
  background-size: 100%;
  background-repeat: no-repeat;
}

.price-icon_extra {
  font-size: 1.5rem;
  line-height: 2.2;
}

// Opening hours

.opening-hours {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 270px;
  background: $secondary-background;
  border-radius: 15px;
  color: $white-text;

  h2 {
    font-size: 2.25rem;
    margin: 45px auto;
  }
  .hours-container {
    display: flex;
    justify-content: space-around;
    :nth-child(1) {
      font-size: 2.25rem;
    }
    :nth-child(2) {
      font-size: 1.5rem;
    }
  }
  .hours {
    text-align: center;
  }
}

// Selling points

.selling-points {
  margin-top: 145px;
  width: 100%;
  height: 440px;
}

.selling-points-container {
  margin-top: 150px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  justify-content: space-between;
  flex-direction: row;
  :nth-of-type(2) {
    img {
      max-width: 300px !important;
    }
  }
}
.selling-point_box {
  display: flex;
  flex-direction: column;
  background: $secondary-background;
  max-width: 370px;
  height: 210px;
  border-radius: 5px;

  img {
    position: relative;
    top: -100px;
    max-width: 180px;
    margin: 0 auto;
  }
  p {
    position: relative;
    top: -110px;
    padding: 0 10%;
    font-size: 1.125rem;
  }
}

// Reviews slides

.reviews {
  margin-top: 145px;
  height: 365px;
  background: $secondary-background;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  h2 {
    margin-top: 55px;
    margin-bottom: 0;
    width: 100%;
  }
  :last-child {
    text-align: center;
  }
}

.reviews-container {
  width: 90%;
  height: 215px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  p {
    margin-top: 55px;
  }

  i {
    color: $red-cta;
    margin-top: 55px;
  }
}

.review {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 650px;

  p {
    font-size: 1.125rem;
    font-weight: 300;
  }
  :nth-of-type(2) {
    margin-top: 20px;
    font-weight: 600;
    color: $white-text !important;
  }
}

/* Slides */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  width: 100%;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: $white-text;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  background-color: $red-cta;
}

// Adress & map

.adress-map {
  margin-top: 145px;
  height: 425px;
  display: flex;
  justify-content: space-between;
  iframe {
    height: 100%;
    border-radius: 15px;
  }
}

.adress-map_left {
  display: flex;
  flex-direction: column;
  max-width: 465px;
  font-size: 1.125rem;
  h2 {
    text-align: left;
  }
  :nth-child(1) {
    margin-bottom: 25px;
  }
  :nth-child(2) {
    margin-bottom: 50px;
  }
  :nth-child(3) {
    margin-bottom: 35px;
  }
  :nth-child(4) {
    margin-bottom: 35px;
  }
  :nth-child(5) {
    color: $red-cta;
    text-decoration: underline;
  }
}

// Menu --------

// Burger menus

.burger-menu {
  h1 {
    text-align: center;
    margin-bottom: 45px;
    font-size: 2.25rem;
  }
  h4 {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin: 20px 0;
  }
}

.burger-menu-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  gap: 2rem;
  row-gap: 5rem;
  align-content: center;
}

.burger-menu_item {
  max-width: 365px;
  border-radius: 5px;
  overflow: hidden;
  img {
    width: 100%;
    border-radius: 5px;
  }
  div {
    margin: 0;
  }
  i {
    text-align: center;
  }
}

//Single page
.back-home {
  display: grid;
  grid-template-columns: 30px 150px;
  margin-left: 15vw;
  margin-bottom: 20px;
  align-items: center;
  i {
    font-size: 30px;
  }
}
.product-card {
  display: grid;
  background-color: $secondary-background;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.664);
  border-radius: 15px;
  grid-template-columns: 50% 50%;
  width: 55vw;
  height: auto;
  margin-left: 15vw;
  img {
    grid-column: 1;
    border-radius: 15px 0 0 15px;
    height: 100%;
    width: 100%;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  h1,
  .desc,
  .prices {
    grid-column: 2;
    padding: 10px 10px 10px 20px;
  }
  h1 {
    margin-top: 10px;
    font-family: "Titillium Web";
  }
  .prices {
    height: 65%;
    margin-top: 0px;
    display: flex;
    justify-content: space-evenly;
    p {
      font-size: 0.9rem;
      padding: 5px;
      font-weight: 300;
      text-align: center;
      border: 1px solid $yellow;
      border-radius: 5px;
      width: 120px;
    }
    .price-icon {
      width: 30%;
    }
    .price-icon_secondary {
      width: 30%;
      line-height: 1.1;
    }
    i {
      text-align: center;
    }
  }
}

.product-item {
  display: grid;
  grid-template-rows: 3;
  justify-items: center;
  i {
    grid-row: 3;
    display: flex;
    justify-content: space-evenly;
  }
  h4 {
    margin: 0 0 20px 0;
  }
}

.horizonal {
  margin-top: 10vh;
  border: 2px solid $yellow;
  margin-bottom: 20px;
}

.add-options {
  margin-top: 50px;
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 3;
  align-content: center;
  i {
    text-align: center;
  }
  h4 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .item1 {
    grid-column: 1;
    display: grid;
    justify-items: center;
    grid-template-rows: 3;
    max-width: 365px;
    border-radius: 5px;
    overflow: hidden;
  }
  .item2 {
    grid-column: 2;
    max-width: 365px;
    border-radius: 5px;
    overflow: hidden;
    display: grid;
    justify-items: center;
    img {
      width: 60%;
    }
  }
  .item3 {
    grid-column: 3;
    max-width: 365px;
    border-radius: 5px;
    overflow: hidden;
    display: grid;
    justify-items: center;
  }
  h2 {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  img {
    width: 100%;
    border-radius: 5px;
  }
}

// CONTACT PAGE

.contact-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 6% 9% 20% 65%;
  height: 100%;
  width: 100%;
  row-gap: 20px;
  iframe {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 4;
    margin-top: 40px;
  }
  h1 {
    font-size: 4rem;
    line-height: 1.4;
    font-family: "Titillium Web";
  }
}

.contact-intro {
  grid-row: 2;
  grid-column: 2;
  justify-self: center;
  width: 150%;
  p {
    text-align: center;
    margin-top: 20px;
  }
}
.contact-info {
  grid-column: 1;
  justify-self: end;
  text-align: center;
  grid-row: 3;
  margin-left: 20%;
  .directions {
    color: $red-cta;
    text-decoration: underline;
  }
}

.vertical {
  height: 200px;
  width: 1px;
  border: 1px solid $yellow;
  grid-column: 2;
  grid-row: 3;
  justify-self: center;
}

.contact-hours {
  justify-self: start;
  text-align: center;
  grid-row: 3;
}
